
<div class="row-fluid">	<!-- <div class="span12"><hr class="span12"></div>	 -->
	<div class="span7">
		sdlkfjlkdf kdkfhkdljfgkjh<br/><br/>
	</div>
	<div class="span5">
		<span class="social-icons pull-right" style="display:iniline:block;">
        	<span class="social-icon facebook-icon facebook img-rounded"></span>
          	<span class="social-icon twitter-icon twitter img-rounded"></span>
          	<span class="social-icon googleplus-icon googleplus img-rounded"></span>
          	<span class="social-icon linkedin-icon linkedin img-rounded"></span>
        </span>
	</div>		
</div>
<div class="row-fluid quickAccess">
	<div class="span2">
		<h5>Places</h5>
		<ul>
			<li><a>Kerala</a></li>
			<li><a>Search</a></li>
			<li><a>Services</a></li>
			<li><a>Contact</a></li>
		</ul>
	</div>
	<div class="span2">
		<h5>Quick Links</h5>
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#search">Search</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
	<div class="span3"></div>
	<div class="span3"></div>
	<div class="span3"></div>
	<div class="span12 ">
	<div class="ph-footer-copyright"><span style="display:iniline:block;">Copyright 2013 by Realestate</span><span class="offset5">Designed by<b><a href="http://www.shaibiginfosystem.com" target="_blank"> <img src="images/created.ico" style="width:20px; height:20px;"></a></b> </span></div>
</div>
</div>
