<div class="row-fluid">
	<div class="span12">
		<!-- <img src="images/home1.jpg" class="rs-headerImg visible-desktop"> -->
	<!-- </div>
	<div class="span6">
		<h1 class="">Real Estate</h1> -->
	</div>
	<div class="span12 rs-logo-div" style="">
		<div class="span4">
		<h1 class="">YOUR COMPANY</h1>
		<span class="span12" style="text-align:center; color:#eeeeee;margin-top: -18px;">Quarenteed Property</span>
		</div>
		<div class="span4 hidden-phone">
		
		</div>
		<div class="span3 offset1">
			   	<div class="span9 rs-call">
    				Call Us Now: +91-9922885757
    			</div>
			    <!-- <input type="text" class="input-medium search-query"> -->			    
		</div>
	</div>	
</div>
<!-- <div class="bgBlue menuOpen pull-right" data-target=".nav-collapse" data-toggle="collapse" >Menu</div>nav-collapse in collapse -->
<div class="span3 rs-nav-div ">
	<ul class="rs-nav">
		<li class="home">Home</li>
		<li class="about">About Us</li>
		<li class="services">Services</li>
		<li class="search">Search</li>
		<li class="gallery">Gallery</li>
		<li class="contact">Contact Us</li>
	</ul>
			<div class="offers hidden-phone" style="margin-top: 280px; position:absolute">
				<h4>Offers</h4>
	    		<ul>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    			<li><a href="#">Lorem ipsum dolor </a></li>
	    		</ul>
			</div>
</div>